<header class="wrapper-header pad-12" [class.sticky]="isSticky">
    <img ngSrc="./assets/img/logo.png" width="150" height="80">

    <nav class="navigation">
        <a href="#" class="active">Incio</a>
        <a href="#">Shop</a>
        <a href="#">Newsletter</a>
        <a href="#">Link</a>
    </nav>

    <div class="social">
        <a href="">
            <fa-icon [icon]="icons.insta"></fa-icon>
            &#64;hortencia.magalhaes.7
        </a>
        <a href="">
            <fa-icon [icon]="icons.wpp"></fa-icon>
            (00) 90000-0000
        </a>
    </div>
</header>
