<section class="introduces-section pad-12">
    <img ngSrc="./assets/img/founder.png" class="founder-image" width="150" height="150">
    <h3>Hortência Magalhães</h3>
    <p class="founder-depoiment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum labore alias suscipit! Quo modi sunt incidunt
        quos necessitatibus odit debitis eveniet assumenda aperiam. Voluptates voluptas quo atque harum quod ab earum
        perspiciatis eveniet. Dolor, fuga? Eum soluta magni, tempora voluptatum minima voluptates vero blanditiis
        nesciunt, doloremque molestias explicabo molestiae nostrum repellendus, hic qui deserunt dolores omnis odit
        dolor sunt distinctio cupiditate itaque? Quasi, aspernatur vero id voluptates error minus illo, asperiores aut
        nihil voluptatem laborum porro itaque hic beatae harum laboriosam enim odio iusto quaerat iure dicta dignissimos
        ipsum. Sint accusamus ipsam magnam natus similique eligendi ad ex nobis neque.
    </p>
</section>